#contentBannerHome{
    background-image: url('../img/tipos-terapia-psicologica-large.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}

.btn{
    border-radius: 50px !important;
    width: 200px;
}

#fondoBannerHome{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.699);
    padding-bottom: 100px;
}

#contentTexto{
    text-align: center;
    color: white;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
}

.nav-item{
    border-left: solid white 1px;
    padding-left: 20px;
    padding-right: 20px;
}